<div #containerForExport class="main-wrapper">
  <div class="profile">
    <div class="profile-image-wrapper">
      <img src="IMG_20160111_162139.jpg" width="160" height="auto" alt="My Profile Image">
    </div>
    <div class="profile-details">
      <h1>Peter Tsampakiouris</h1>
      <h2>Front-end Developer</h2>
    </div>
  </div>
  <div class="border"></div>
  <div class="profile-contact">
    <div class="details-grid">
      <div class="grid-block">
        <div class="contact-wrapper">
          <mat-icon aria-hidden="false" aria-label="email" fontIcon="mail"></mat-icon>
          <span>tsampakiourispetros&#64;gmail.com</span>
        </div>
        <div class="contact-wrapper">
          <mat-icon aria-hidden="false" aria-label="telephone" fontIcon="phone_android"></mat-icon> <span>+30
            6986574770</span>
        </div>
        <div class="contact-wrapper">
          <mat-icon aria-hidden="false" aria-label="location" fontIcon="location_on"></mat-icon> <span>Heraklion, Crete,
            Greece</span>
        </div>
      </div>
      <div class="grid-block">
        <div class="contact-wrapper">
          <img src="f92d3760fc8301b2129d40b47c6160d5.png" alt="github" width="24" height="24">
          <span>linkedin.com/in/peter-tsampakiouris-710333112</span>
        </div>
        <div class="contact-wrapper">
          <img src="84538c10e8bb2bda7dea688c38518cb3.png" alt="github" width="24" height="24">
          <span>github.com/SelGo</span>
        </div>
      </div>
    </div>
  </div>
  <div class="border"></div>
  <div class="details-grid">
    <div class="grid-block education">
      <h2><strong>EDUCATION</strong></h2>
      <h3><strong>Informatics Engineer</strong></h3>
      <h3>Department of Electrical and Computer Engineering (ECE) / Hellenic Mediterranean University of Crete</h3>
      <span>09/2010 - 06/2019, Heraklion, Crete, Greece</span>
      <ul>
        <li> Thesis - Android application development. The special english dictionary "Quick Speak" - <a
            href="https://apothesis.hmu.gr/items/de0449af-230e-40b7-94f0-2d919f79ee44"
            target="_blank">https://apothesis.hmu.gr/items/de0449af-230e-40b7-94f0-2d919f79ee44</a>
        </li>
      </ul>
    </div>
    <div class="grid-block skills">
      <h2><strong>SKILLS</strong></h2>
      <mat-chip-set aria-label="Developer Skills">
        <mat-chip>Front-end Developer</mat-chip>
        <mat-chip>HTML</mat-chip>
        <mat-chip>CSS</mat-chip>
        <mat-chip>JavaScript</mat-chip>
        <mat-chip>Angular</mat-chip>
        <mat-chip>Angular Material</mat-chip>
        <mat-chip>PHP</mat-chip>
        <mat-chip>Android Development</mat-chip>
        <mat-chip>Java</mat-chip>
      </mat-chip-set>
    </div>
    <div class="grid-block work-experience">
      <h2><strong>WORK EXPERIENCE</strong></h2>
      <h3><strong>Internship - Web Development (6 months)</strong></h3>
      <h3><a href="https://istl.hmu.gr/" target="_blank">iSTLab</a> (interactive Software Technologies & System
        Engineering Laboratory)</h3>
      <span>11/2017 - 04/2018, Heraklion, Crete, Greece</span>
      <p><i>A research unit of the Department of Electrical and Computer Engineering (ECE) of the Hellenic Mediterranean
          University.</i></p>
      <ul>
        <li>Development of a responsive UI theme using Liferay CMS.</li>
        <li>Implementation of Application Display Templates (ADT) using Liferay CMS.</li>
        <li>Content Management using Liferay CMS - Added / Updated Information about projects, theses, lab associates
          etc.</li>
      </ul>
      <br><br>
      <h3><strong>Front-end Developer (4 Years)</strong></h3>
      <h3>Ecoworld SA</h3>
      <span>11/2020 - 02/2025, Heraklion, Crete, Greece</span>
      <p><i>A company providing ferry booking, hotel and car rental services.</i></p>
      <ul>
        <li>Development and maintance of the company's websites using a custom PHP system that follows the MVC
          principle. (4 years)</li>
        <li>Development of an administration system that is used by the company's booking department for company's daily
          stuﬀ work. Worked on sections of it.(Angular & Angular Material) (9 months) 
          <ul>
            <li>Payments Section. A compoment that monitors and lists all the company's booking payments (including their statuses). A component that shows all the details of a selected payment.</li>
            <li>Reviews Section. A component that collects and show all the clients' google and facebook reviews with features of also replying or even show / hide reviews from company's websites. Data used from company's custom backend API which also used google and facebook review APIs.</li>
          </ul>
        </li>
        <li>Development of a monorepo project that would migrate the older websites as angular apps that would use
          common libraries (UI components library - using Angular Material - services fetching data from company's
          microservices etc.) (6 months)
          <ul>
            <li>Migration of an old PHP website to the monorepo system. Created webpages based on designs provided by the UI designer.(Webpages as angular components - Website being an angular project)</li>
            <li>Created a resuable component (as a library) that concerns information about the customer support of the company. This includes a main menu UI and pages having a Q&A accordion format as content. Data fetched from company's backend services.</li>
            <li>Added custom UI components (based as Angular Material components) to the resuable UI library of the project in order to use to each website.</li>
          </ul>
        </li>
        <li>Development of newsletter mail templates using table layout approach. (HTML, CSS) (3 years)</li>
      </ul>
    </div>
    <div class="grid-block languages">
      <h2><strong>LANGUAGES</strong></h2>
      <ul>
        <li><strong>Greek</strong> - Native</li>
        <li><strong>English</strong> - Upper Intermediate (C1) - Professional Working Proﬁciency</li>
      </ul>
    </div>
    <div class="grid-block certificates">
      <h2><strong>CERTIFICATES</strong></h2>
      <h3>Department of Electrical and Computer Engineering (ECE) - Bachelor's Degree (09/2010 - 06/2019)</h3>
      <h3>Edexcel - London Tests of English Level 3 (05/2007) <br><i>UPPER INTERMEDIATE COMMUNICATION</i></h3>
    </div>
    <div class="grid-block interests">
      <h2><strong>INTERESTS</strong></h2>
      <mat-chip-set aria-label="Interest">
        <mat-chip>Technology</mat-chip>
        <mat-chip>Computer Science</mat-chip>
        <mat-chip>Biking</mat-chip>
        <mat-chip>Football</mat-chip>
      </mat-chip-set>
    </div>
  </div>
</div>
<!-- <div class="btn-wrapper">
  <button mat-raised-button color="primary" (click)="exportToPdf()">Export as PDF</button>
</div> -->