.main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem 0;

    .border {
        width: 100%;
        border: .1rem solid black;
    }

    .profile {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 2rem;

        .profile-image-wrapper {
           display: flex; 

           img {
                border-radius: 5rem;
           }
        }

        .profile-details {
            h1, h2 {
                margin: 0;
            }
    
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
    }

    .profile-contact {
        .details-grid {
            .grid-block{
                display: flex;
                flex-direction: column;
                gap: .5rem;
            }
        }

        .contact-wrapper {
            display: flex;
            gap: 1rem;
            align-items: center;
        }
    }

    .details-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .grid-block {
            // flex: 1 1 calc(50% - 0.5rem);
            width: 49%;
        }

        .certificates {
            margin: -5rem 0 0 0;
        }

        .languages {
            margin: -10rem 0 0 0;
        }

        .interests {
            margin: -23rem 0 0 0;
        }
    }
}