<div class="main-wrapper">
  <div class="profile">
    <div class="profile-image-wrapper">
      <img src="IMG_20160111_162139.jpg" width="160" height="auto" alt="My Profile Image">
    </div>
    <div class="profile-details">
      <h1>Peter Tsampakiouris</h1>
      <h2>Frontend Developer</h2>
    </div>
  </div>
  <div class="border"></div>
  <div class="profile-contact">
    <div class="contact-wrapper">
      <mat-icon aria-hidden="false" aria-label="email" fontIcon="mail"></mat-icon> <span>tsampakiourispetros&#64;gmail.com</span>
    </div>
    <div class="contact-wrapper">
      <mat-icon aria-hidden="false" aria-label="telephone" fontIcon="phone_android"></mat-icon> <span>+30 6986574770</span>
    </div>
    <div class="contact-wrapper">
      <mat-icon aria-hidden="false" aria-label="location" fontIcon="location_on"></mat-icon> <span>Heraklion, Crete, Greece</span>
    </div>
    <div class="contact-wrapper">
      <img src="f92d3760fc8301b2129d40b47c6160d5.png" alt="github" width="24" height="24">  <span>linkedin.com/in/peter-tsampakiouris-710333112</span>
    </div>
    <div class="contact-wrapper">
      <img src="84538c10e8bb2bda7dea688c38518cb3.png" alt="github" width="24" height="24"> <span>github.com/SelGo</span>
    </div>
  </div>
  <div class="border"></div>
</div>